<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="events" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


    <!-- time Column -->
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef> זמן</mat-header-cell>
      <mat-cell *matCellDef="let event">
        <a class="linktext" (click)="editMe(event)" > {{event.time | minute: match}}' </a>
      </mat-cell>
    </ng-container>

    <!-- playerName Column -->
    <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef> קבוצה</mat-header-cell>
      <mat-cell *matCellDef="let event"> {{event.team == match.home._id ? match.home.name : match.away.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="playerName">
      <mat-header-cell *matHeaderCellDef> שחקן</mat-header-cell>
      <mat-cell *matCellDef="let event"> {{event.playerName}}</mat-cell>
    </ng-container>

    <!-- eventType Column -->
    <ng-container matColumnDef="eventType">
      <mat-header-cell *matHeaderCellDef> סוג</mat-header-cell>
      <mat-cell *matCellDef="let event"> {{event.eventType}}</mat-cell>
    </ng-container>


    <!-- result Column -->
    <ng-container matColumnDef="result">
      <mat-header-cell *matHeaderCellDef> ערך</mat-header-cell>
      <mat-cell *matCellDef="let event" [ngSwitch]="event.eventType">
        <div *ngSwitchCase="'נסיון הבקעה'">
          [{{event.eXg}}] <b *ngIf="event.isGoal" accent>גול!!</b>
        </div>
        <div *ngSwitchCase="'חילוף'">
          {{event.playerName}}
        </div>
        <div *ngSwitchCase="'כרטיס'">
          כרטיס {{event.cardColor}}
        </div>


      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let event">
        <button mat-icon-button (click)="deleteMe(event)">
          <mat-icon>delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row ; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
