<h1>מסגרות</h1>
<button mat-fab (click)="addCompetition()">
  <mat-icon>add</mat-icon>
</button>

<ul>
  <li *ngFor="let competition of list">
    <a routerLink="/competitions/{{competition._id}}">{{competition.name}}</a>
  </li>
</ul>
