<div class="one-line-form">
  <h2>פרטי משחק</h2>
  <a class="graphBtn" routerLink="stats"> <mat-icon class="end" >insert_chart</mat-icon></a>
  <form>
    <mat-form-field>
      <mat-select [(ngModel)]="match.competition" name="competition" (change)="competitionChange()" placeholder="מפעל">
        <mat-option *ngFor="let competition of competitions" value="{{competition?._id}}">{{competition?.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="match.date" name="date" [owlDateTime]="dt1" (dateTimeChange)="onChange()" [owlDateTimeTrigger]="dt1" placeholder="תאריך משחק" >
      <!--<span [owlDateTimeTrigger]="dt1"> <mat-icon>event</mat-icon></span>-->
      <owl-date-time #dt1 ></owl-date-time>
    </mat-form-field>

    <mat-form-field>
      <mat-select #home [(ngModel)]="match.home._id" name="home" (selectionChange)="onTeamChange(match.home, $event)" (change)="onChange()" [disabled]="!match.competition"
                  placeholder="קבוצת בית">
        <mat-option *ngFor="let team of teams" value="{{team?._id}}">{{team?.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select #away [(ngModel)]="match.away._id" name="away" (selectionChange)="onTeamChange(match.away, $event)" (change)="onChange()" [disabled]="!match.competition"
                  placeholder="קבוצת חוץ">
        <mat-option *ngFor="let team of teams" value="{{team?._id}}">{{team?.name}}</mat-option>
      </mat-select>
    </mat-form-field>



  </form>


</div>
<div >
  <div class="match-score" >
    <div class="score">
      <div>{{match.goalsH}}</div>
      <div>:</div>
      <div>{{match.goalsA}}</div>
    </div>
    <div class="eXg">
      <div>[{{match.eXgH}}]</div>
      <div>:</div>
      <div>[{{match.eXgA}}]</div>
    </div>
  </div>

  <app-match-event-edit [match]="match" [event]="selectedEvent"
                        (addEvent)="addMatchEvent()" (saveEvent)="saveMatchEvent()"></app-match-event-edit>


  <div class="match-event">
    <h3>אירועים</h3>
    <app-match-event-list [match]="match" [events]="match.events" (eventSelected)="selectedEvent=$event"
                          (eventDeleted)="deleteMatchEvent($event)"></app-match-event-list>
  </div>
</div>

