<div class="dark">
  <h4> {{match.away.name}}  :  {{match.home.name}} </h4>
  <div class="match-score" >
    <div class="score">
      <div>{{match.goalsH}}</div>
      <div>:</div>
      <div>{{match.goalsA}}</div>
    </div>
    <div class="eXg">
      <div>[{{match.eXgH}}]</div>
      <div>:</div>
      <div>[{{match.eXgA}}]</div>
    </div>
  </div>

  <div class="dashboard">
    <div class="tile">
      <h3>מצבים לאורך הזמן</h3>
      <app-chance-by-time [match]="match" [events]="events" [colorScheme]="colorScheme"></app-chance-by-time>

    </div>
    <div class="tile">
      <h3>מצבים לפי סוג</h3>
      <app-chance-by-type [match]="match" [events]="events" [colorScheme]="colorScheme"></app-chance-by-type>

    </div>
    <div class="tile">
      <h3>מצבים לפי הסדר</h3>
      <app-chance-by-order [match]="match" [events]="events" [colorScheme]="colorScheme"></app-chance-by-order>

    </div>
  </div>

  <!--<mat-tab-group>-->
    <!--<mat-tab label="by time">-->
     <!---->
    <!--</mat-tab>-->
    <!--<mat-tab label="by type">-->
     <!---->
    <!--</mat-tab>-->
    <!--<mat-tab label="by order">-->
     <!---->
    <!--</mat-tab>-->
  <!--</mat-tab-group>-->


</div>

