
::ng-deep{
  #content{
    padding: 0;
  }
  .chances-group{
    //height: calc(100vh - 15rem);
    margin-top: 2rem;
    width: 100%;
  }

}

.dashboard{
  margin-top: 1rem;
  //display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  //display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  //display: -ms-flexbox;      /* TWEENER - IE 10 */
  //display: -webkit-flex;     /* NEW - Chrome */
  //display: flex;

  .tile{
    //$val:  1 100%;
    //-webkit-box-flex: $val;      /* OLD - iOS 6-, Safari 3.1-6 */
    //-moz-box-flex: $val;         /* OLD - Firefox 19- */
    //-webkit-flex: $val;          /* Chrome */
    //-ms-flex: $val;              /* IE 10 */
    //flex: $val;

    //height: 50vh;
    height: 520px;
    width: 600px;
 box-sizing: border-box;
    display: inline-block;
    margin: .5rem;
    padding: .5rem;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #9c9b9e;

    h3{
      text-align: center;
    }

    @media (max-width: 767px) {
      width: 100%;
      margin: .5rem 0;
      overflow: auto;
      height: auto;
    }
  }
}
