<h1>פרטי מסגרת</h1>
<form>
  <div>
    <div class="tc" style="width: 50%; padding-left: 2rem">
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="competition.name" name="name" placeholder="כותרת">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="competition.country" name="country" placeholder="מדינה">
        </mat-form-field>


        <button mat-raised-button color="primary" (click)="saveMe()">{{ competition._id ? 'שמור' : 'הוסף'}}</button>

      </div>

    </div>

  </div>
</form>

<h2>קבוצות</h2>
<ul>
  <li *ngFor="let team of competition.teams">{{team.name}} <mat-icon (click)="deleteCompTeam(team)">delete</mat-icon></li>
  <li>
    <mat-form-field>
      <mat-select [(value)]="newTeamId" name="newTeam" (change)="addCompTeam()" placeholder="הוסף קבוצה">
        <mat-option *ngFor="let team of teams | excludeItems: competition.teams " value="{{team._id}}">{{team.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </li>
</ul>
