@import '~@angular/material/theming';
@import "../../../theme";
@import "../../shared/style/screens";

$back: map-get($vf-theme, primary);
#updateEvent {
  @include screen-padding(.5rem, 1rem);
  background: #424242; //mat-color($back, lighter);
}

.event-type-details {
  overflow: hidden;

  margin-bottom: 1rem;
  > div {

  }

  .mat-radio-button {
    padding: 5px 1rem;
    color: initial;
    border: 1px solid;
    &.card-yellow {
      border-color: mat-color($mat-yellow, 800);
    }
    &.card-red {
      border-color: mat-color($mat-red, 800);
    }
  }

  .mat-radio-checked {
    &.card-yellow {
      background: mat-color($mat-yellow, 800);
    }
    &.card-red {
      background: mat-color($mat-red, 800);
    }
  }

  .little-label {
    font-size: smaller;
    position: relative;
    display: block;
    margin-bottom: 1rem;
  }
}

[name= 'delay'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  margin: 2rem 0;
}

.eXg-div {

  .pitch {
    display: inline-block;

    //width: 6rem;
    img {
      max-width: 100%;
      max-height: 60vh;
      margin-bottom: -3px;
    }
    .data{
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      left: 0;
      .mat-form-field{
        width: 9rem;
        position: absolute;
        margin-right: .5rem;
        display: inline-block;
      }
      table {

        height: 100%;
        width: 100%;
        border-spacing: unset;

        td {
          border: 1px solid #6d8b2b;
          text-align: center;
          font-size: 12px;
          width: 12%;
          cursor: pointer;
        }

        td.zero{
          color: transparent;
        }

        td:hover{
          background-color:  mat-color($vf-primary);

        }
      }
    }

  }

}
