<div>

  <h2>פרטי אירוע</h2>
  <input matInput type="number" [(ngModel)]="match.scndDelay" name="delay" (change)="delayChanged()" placeholder="0">
  <form id="updateEvent">
    <div>
      <div class="one-line-form">
        <div>

          <mat-form-field>
            <mat-select [(ngModel)]="event.eventType" name="eventType" placeholder="סוג" (change)="typeChanged()">
              <mat-option *ngFor="let ops of types" value="{{ops}}">{{ops}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="half">
            <input matInput [(ngModel)]="event.time" name="time" (dateTimeChange)="timeToMin()" [owlDateTime]="dt2"
              [owlDateTimeTrigger]="dt2" placeholder="דקה">
            <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
          </mat-form-field>
          <mat-form-field class="half">
            <input matInput [(ngModel)]="mint" name="mint" (change)="minToTime()">
          </mat-form-field>

          <mat-form-field>
            <mat-select [(ngModel)]="event.team" name="team" placeholder="קבוצה" (change)="teamChanged()">
              <mat-option *ngFor="let team of [match.home, match.away]" value="{{team?._id}}">{{team?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="event.playerName" name="playerName" placeholder="שחקן">
          </mat-form-field>


        </div>

      </div>
      <div *ngIf="event.team">
        <div class="event-type-details" [ngSwitch]="event.eventType">

          <div *ngSwitchCase="'נסיון הבקעה'">


            <div class="eXg-div">

              <div class="pitch">
                <img src="/assets/halfFiled.jpg?v1" alt="">
                <div class="data">
                  <mat-form-field>
                    <mat-select [(ngModel)]="esTable" name="eXgType">
                      <mat-option *ngFor="let ops of eXgTypes" value="{{ops}}">{{ops}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <table>
                    <tr *ngFor="let row of chances[esTable]">
                      <td *ngFor="let col of row" [ngClass]="{'zero' : col == 0}" (click)="event.eXg = col">
                        {{col * 100 | number}}%</td>
                    </tr>
                  </table>
                </div>

              </div>
            </div>


            <div style="direction: ltr">
              <label class="mat-form-field-label little-label">eXg</label>
              <mat-slider thumbLabel tickInterval="10" invert [(ngModel)]="event.eXg" name="eXg" placeholder="eXg"
                min="0" max="1" step="0.01"></mat-slider>
            </div>

            <div>
              <mat-slide-toggle [(ngModel)]="event.isGoal" name="isGoal" color="accent">גול!</mat-slide-toggle>
            </div>

          </div>
          <div *ngSwitchCase="'חילוף'">

          </div>
          <div *ngSwitchCase="'כרטיס'">
            <div>
              <mat-radio-group [(ngModel)]="event.cardColor" name="cardColor">
                <mat-radio-button value="1" class="card-yellow">צהוב</mat-radio-button>
                <mat-radio-button value="2" class="card-red">אדום</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="saveMe()">{{ event.id ? 'שמור' : 'הוסף'}}</button>

      </div>

    </div>

    <!--<mat-grid-list cols="2" gutterSize="20px" rowHeight="20rem">-->
    <!--<mat-grid-tile>-->

    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile>-->
    <!--</mat-grid-tile>-->

    <!--</mat-grid-list>-->

  </form>

</div>
