
@mixin flex-display {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flex($val: 1 100%) {
  -webkit-box-flex: $val;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $val;         /* OLD - Firefox 19- */
  -webkit-flex: $val;          /* Chrome */
  -ms-flex: $val;              /* IE 10 */
  flex: $val;
}

@mixin flex-row{
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

@mixin flex-order($ord){
  -webkit-box-ordinal-group: $ord;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: $ord;      /* OLD - Firefox 19- */
  -ms-flex-order: $ord;              /* TWEENER - IE 10 */
  -webkit-order: $ord;               /* NEW - Chrome */
  order: $ord;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
