/* =============================================================================
   Screen size variables
   ========================================================================== */

$screen-xs:                        480px;
$screen-xs-min:                    ( $screen-xs + 1 );
//$screen-sm:                        768px;
//$screen-sm-min:                    $screen-sm;
$screen-md:                        1024px;
$screen-md-min:                    ( $screen-md + 1 );

//$screen-lg:                        1200px;
//$screen-lg-min:                    $screen-lg;
$screen-xl:                        1600px;
$screen-xl-min:                    $screen-xl;

//$screen-xs-max:                    ( $screen-sm-min - 1 );
//$screen-sm-max:                    ( $screen-md-min - 1 );
//$screen-md-max:                    ( $screen-lg-min - 1 );
//$screen-lg-max:                    ( $screen-xl-min - 1 );

/* =============================================================================
   Media queries for different screen sizes
   ========================================================================== */

// max 480
@mixin screen-xs() {
  @media (max-width: $screen-xs) { @content; }
}

// 481-1024
@mixin screen-sm-md() {
  @media (min-width: $screen-xs-min) and (max-width: $screen-md) { @content; }
}

// min 481
@mixin screen-xs-min() {
  @media (min-width: $screen-xs-min) { @content; }
}

// max 1024
@mixin screen-md-max() {
  @media (max-width: $screen-md) { @content; }
}

// min 1024
@mixin screen-md-min() {
  @media (min-width: $screen-md-min) { @content; }
}

// 1024 - 1600
@mixin screen-md-xl() {
  @media (min-width: $screen-md-min) and (max-width: $screen-xl) { @content; }
}

// min 1600
@mixin screen-xl() {
  @media (min-width: $screen-xl-min) { @content; }
}



/*********** *******/
// from 1024 and up to 1024
@mixin screen-xs-split{

  @include screen-xs(){
    @content;
  };
  @include screen-xs-min(){
    @content;
  };
}

// from 1024 and up to 1024
@mixin screen-md-split($rules-bottom,  $rules-top){
  @include screen-md-max($rules-bottom);
  @include screen-md-min($rules-top);
}
// 1: xs only, 2: sm only, 3: md only, 4: lg only, 5: xl and larger
@mixin screen($rules-xs,  $rules-sm-md,  $rules-md-xl,$rules-xl) {
  @include screen-xs($rules-xs);

  @include screen-sm-md($rules-sm-md);

  @include screen-md-xl($rules-md-xl);

  @include screen-xl($rules-xl);
}

@mixin screen-padding($rules-xs,  $rules-sm-md) {
  @include screen-xs {
    padding: $rules-xs;
  }
  @include screen-xs-min {
    padding: $rules-sm-md;
  }
}
@mixin screen-margin($rules-xs,  $rules-sm-md) {
  @include screen-xs {
    margin: $rules-xs;
  }
  @include screen-xs-min {
    margin: $rules-sm-md;
  }
}
//
//@mixin screen-font($rules-xs,  $rules-sm-md,  $rules-md-xl,$rules-xl) {
//  @include screen(( font-size: $rules-xs),( font-size: $rules-sm-md),( font-size: $rules-md-xl),( font-size: $rules-xl));
//}
//
//@mixin screen-height($rules-xs,  $rules-sm-md,  $rules-md-xl,$rules-xl) {
//  @include screen(( height: $rules-xs),( height: $rules-sm-md),( height: $rules-md-xl),( height: $rules-xl));
//}

@mixin foobar {
  @content;

  &.start {
    background: red;
    @extend %start !optional;
  }

  &.end {
    background: blue;
    @extend %end !optional;
  }
}

