<mat-toolbar color="primary">

  <a routerLink="/" class="logo">Visual Factors</a>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/matches">
      <mat-icon>lens</mat-icon>
      <span>משחקים</span>
    </a>
    <a mat-menu-item routerLink="/competitions">
      <mat-icon>view_carousel</mat-icon>
      <span>מסגרות</span>
    </a>
    <a mat-menu-item routerLink="/teams">
      <mat-icon>people</mat-icon>
      <span>קבוצות</span>
    </a>
    <a mat-menu-item routerLink="/players">
      <mat-icon>directions_run</mat-icon>
      <span>שחקנים</span>
    </a>
  </mat-menu>
</mat-toolbar>
<main id="content">
  <router-outlet></router-outlet>
</main>
