<h1>קבוצות</h1>

<app-team-details  [team]="selectedTeam" (teamAdded)="addTeam($event)"></app-team-details>

<h2>קבוצות קיימות</h2>


<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="list">


    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> שחקן </mat-header-cell>
      <mat-cell *matCellDef="let team">
        <a class="linktext" (click)="editMe(team)"> {{team.name}} </a>
      </mat-cell>
    </ng-container>

    <!-- country Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef> מדינה </mat-header-cell>
      <mat-cell *matCellDef="let team"> {{team.country}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let team" >
        <button mat-icon-button (click)="deleteMe(team)"><mat-icon>delete</mat-icon> </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
  </mat-table>
</div>
