<h2>פרטי קבוצה</h2>
<form>
  <div>
    <div class="tc" style="width: 50%; padding-left: 2rem">
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="team.name" name="name" placeholder="קבוצה">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="team.country" name="country" placeholder="מדינה">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="saveMe()">{{ team._id ? 'שמור' : 'הוסף'}}</button>

      </div>

    </div>

  </div>
</form>
