.stats-link{
  position: absolute;
  left: 0;
  z-index: 111;
}


a.title{
  color: white;
  line-height: 1.5;
  h3{
    font-size: 1em;
    span{
      font-size:smaller;
    }
  }
  h3, p{
    margin: 0;
  }
  margin-bottom: 1rem;
}

.mat-list{
  .mat-list-item{
    .mat-list-item-content{
      padding: 0 ;
      .mat-list-text{
        padding-right:.5rem;
      }
    }

    &.mat-2-line{
      height: auto;
      line-height: 2;
      margin-bottom: 1rem;
    }

    .mat-line{
      a{
        font-size: larger;
      }
    }
  }

}
