<h1>משחקים</h1>
<button mat-fab (click)="addMatch()">
  <mat-icon>add</mat-icon>
</button>

<mat-list>
  <div mat-list-item class="mat-list-item mat-2-line" *ngFor="let match of matches">
    <div class="mat-list-item-content">

      <a [routerLink]="[match._id,'stats']"> <mat-icon class="end" >insert_chart</mat-icon></a>

      <div class="mat-list-text">
        <a class="title" [routerLink]="match._id">
          <h3 matLine> {{match.home.name}}: {{ match.goalsH}} <span>[{{match.eXgH}}]</span>

          <div>{{match.away.name}}: {{ match.goalsA}} <span>[{{match.eXgA}}]</span></div>
          </h3>
        </a>
        <p matLine>
          <span> {{match.competition.name}} </span>
          <span class="demo-2">  {{ match.date | date }} </span>

        </p>

      </div>

    </div>
  </div>


</mat-list>

