@import "~@angular/material/prebuilt-themes/purple-green.css";
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "./app/shared/style/screens";
@import "./theme";

* {
  font-family: 'Varela Round', sans-serif;
  direction: rtl;
  text-align: right;
}

body {
  font-size: 16px;
}

div{
  position: relative;
}

.linktext, a {
  color: mat-color($vf-accent, 400);
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: mat-color($vf-primary);
    text-decoration: underline;
  }
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

#content {
  @include screen-padding(.5rem, 2rem);
}

.tc {
  display: table-cell;
  vertical-align: top;
}

li {
  margin: 1rem;
  font-size: 1.2em;

  .mat-icon {
    display: none;
    cursor: pointer;
  }

  &:hover {
    .mat-icon {
      display: inline-block;
      font-size: 1em;
      margin: 2px 5px;
      position: absolute;
    }
  }

}

.one-line-form {
  .mat-form-field-infix,
  .mat-form-field {

    @include screen-xs {
      width: calc(50% - .5rem);
    }
    @include screen-xs-min {
      min-width: 180px;
      width: calc(25vw - 2rem);
    }

    &.half {
      @include screen-xs {
        width: calc(25% - .5rem);
      }
      @include screen-xs-min {
        min-width: initial;
        width: calc(12vw - 2rem);
      }
    }
  }


}

.owl-dt-timer {
  color: initial;
  direction: ltr;
}

.mat-column-delete {
  max-width: 2.5rem;
}


.match-score {
  > div {
    text-align: center;
    font-size: 1.2em;
    > div {
      display: inline-block;
    }
  }
  .score{
    font-size: 2em;
  }
}
