@import '~@angular/material/theming';
@import "./app/shared/style/screens";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$vf-primary: mat-palette($mat-orange, 800);
$vf-accent: mat-palette($mat-cyan, 800);

// The warn palette is optional (defaults to red).
$vf-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$vf-theme: mat-dark-theme($vf-primary, $vf-accent, $vf-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($vf-theme);

// set all component default values
@mixin checkbox-theme($theme) {
  body {

    .mat-toolbar {
      direction: ltr;
    }
    .mat-menu-item {
      text-align: right;
      .mat-icon{
        width: auto;
        height: auto;
      }
    }

    .mat-icon{
      font-size: 2em;
    }
    .mat-icon:not(.end) {
      margin-right: 0;
      margin-left: 16px;
    }

    .mat-button-wrapper {
      .mat-icon {
        margin: 0;
      }
    }

    .mat-checkbox-inner-container,
    .mat-slide-toggle-bar {
      margin-right: 0;
      margin-left: 8px;
    }

    .mat-radio-label-content {
      margin-right: 8px;
      margin-left: 0;
    }

    .mat-form-field-infix,
    .mat-form-field {
      width: 100%;
    }

    .mat-grid-tile {

    }

    .mat-slider {
      display: block;
    }

    [mat-fab] {
      position: fixed;
      bottom: 0;
      left: 0;
      @include screen-margin(1rem, 2rem);
      text-align: center;
    }

    .mat-header-row,
    .mat-row {
      @include screen-padding(0 1rem, 0 1.5rem);
    }

    .mat-list-item-content {
      @include screen-padding(0, 0 1rem);
    }

    .mat-slider-thumb-label-text {
      font-size: 1.3em;
    }

    .mat-slider-thumb-label {
      width: 3rem;
      height: 3rem;


    }
    .mat-slider-horizontal .mat-slider-thumb-label {
      top: -60px ;
      right: -25px ;
    }

    .mat-tab-label{
      font-size: 16px;
    }
  }

}

@include checkbox-theme($vf-theme);


