.chances-group{
   > div{
     height: 12rem;
     font-size: 16px;
     position: relative;
     b{
       position: absolute;
       right: 0;
       top:0;
       color: #A0AABE;
       margin: 1rem;
     }
   }
}
