<div class="chances-group">
  <div *ngFor="let data of multi">
    <b>{{data.name}}</b>
    <ngx-charts-advanced-pie-chart
      [scheme]="colorScheme"
      [results]="data.series"
      tooltipDisabled="true"
      gradient="true">
    </ngx-charts-advanced-pie-chart>
  </div>


  <!--<ngx-charts-bar-vertical-stacked-->
    <!--[scheme]="colorScheme"-->
    <!--[results]="multi"-->
    <!--[xAxis]="true"-->
    <!--gradient="true"-->
    <!--[yAxis]="true"-->
    <!--(select)="onSelect($event)">-->
  <!--</ngx-charts-bar-vertical-stacked>-->
</div>
